body {
  background: #f3eed9;
}

.todo-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  margin: 10em auto;
  border-radius: 10px;
  padding: 20px 10px;
  border: 3px solid #53b4f1;
}

.todo {
  display: flex;
  justify-content: flex-end;
  border: 2px solid white;
  display: flex;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;
}

.todo button{
  background: #ffd976;
  border-radius: 5px;
  margin: 0px 5px;
  padding: 3px 5px;
  border: none;
  cursor: pointer;
  float: right;
  align-self: flex-end;
}

.header {
  margin: 0.5em;
  font-size: 2em;
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  color: #0091ff
}

.create-todo input[type=text] {
  border: 0;
  outline: 0;
  padding: 5px 10px;
  margin: 2.5em 2em;
  border-bottom: 2px solid #53b4f1;
  background: #f3eed9;
  padding: 0.7em;
}